{% extends "cores/base.html" %}

{% block title %}
  Fellwoships
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <section id="sfellowships" class="mb-4">
                <h2>All Fellowships</h2>
                <div class="row">
                    {% for fellowship in fellowship_list %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100 border border-primary">
                            <img src="{{fellowship.image.url}}" class="card-img-top rounded mx-auto d-block mt-1" alt="..." style="width: 95%; height: 150px;">
                            <div class="card-body">
                                <h5 class="card-title text-primary"><strong>{{fellowship.title}}</strong></h5>
                                <p class="card-text">deadline: <strong>{{fellowship.deadline}}</strong></p>
                                <a href="{{fellowship.link}}" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No Fellowship available.</p>
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <!-- Sidebar for recent jobs -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Recent Fellowships</h5>
                    <ul class="list-group list-group-flush">
                        {% for fellowship in fellowship_list %}
                        <a class="text-decoration-none " href="{{fellowship.link}}"><li class="list-group-item text-primary">{{ fellowship.title }}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
