{% extends "cores/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<!-- Display messages -->
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="login-background">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h2 class="text-center">Login</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group position-relative">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control icon-input" placeholder="Enter your username">
                            </div>
                            <div class="form-group position-relative">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control icon-input password-input" placeholder="Enter your password" id="login_password">
                                <i class="fa fa-eye password-toggle" id="password_toggle"></i>
                            </div>
                            {% if next %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% endif %}
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" class="btn btn-info mb-2">Login</button>
                            </div>
                            <p class="text-center"><a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot password</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
     // Toggle password visibility
     document.querySelectorAll('.password-toggle').forEach(toggle => {
        toggle.addEventListener('click', function() {
            const input = this.previousElementSibling;
            const icon = this;
            if (input.type === 'password') {
                input.type = 'text';
                icon.classList.replace('fa-eye', 'fa-eye-slash');
            } else {
                input.type = 'password';
                icon.classList.replace('fa-eye-slash', 'fa-eye');
            }
        });
    });
</script>
<style>
    .position-relative {
        position: relative;
    }

    .password-input {
        padding-right: 40px; /* Space for the icon */
    }

    .password-toggle {
        position: absolute;
        top: 70%;
        right: 10px; /* Adjust based on your design */
        transform: translateY(-50%);
        cursor: pointer;
        color: #aaa;
    }
</style>

{% endblock %}
