{% extends "cores/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<!-- Display messages -->
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="login-background">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Login Form -->
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="text-center">Login</h2>
                    </div>
                    <div class="card-body">
                        <form id="loginForm" action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {{ form|crispy }}
                            <div class="form-group">
                                <input type="checkbox" id="show_password" class="form-check-input">
                                <label for="show_password" class="form-check-label">Show password</label>
                            </div>
                            <p class='text-muted'>Don't have an account? <a class='text-decoration-none' href="{% url 'register' %}">Create one here</a></p>
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" class="btn btn-primary mb-2">Login</button>
                                <p class='text-center text-bold'><a class='text-decoration-none' href="{% url 'password_reset' %}">Forgot Password?</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to Toggle Password Visibility -->
<script>
    document.getElementById('show_password').addEventListener('change', function() {
        var passwordField = document.getElementById('id_password');
        if (this.checked) {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    });
</script>

{% endblock %}
