{% extends "cores/base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
<!-- Display messages -->
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="login-background bg-light">
    <div class="row justify-content-center form-container">
        <!-- Employer Registration Form -->
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Employer Registration</h2>
                </div>
                <div class="card-body">
                    <form id="employerForm" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{ employer_form|crispy }}
                        <input type="hidden" name="form_type" value="employer">
                        <div class="form-group">
                            <input type="checkbox" id="show_passwords_employer" class="form-check-input" onclick="togglePasswordVisibility('employer')">
                            <label for="show_passwords_employer" class="form-check-label">Show passwords</label>
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary mb-2">Register as Employer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Jobseeker Registration Form -->
        <div class="col-md-6 mt-2 mb-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Jobseeker Registration</h2>
                </div>
                <div class="card-body">
                    <form id="jobseekerForm" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{ jobseeker_form|crispy }}
                        <input type="hidden" name="form_type" value="jobseeker">
                        <div class="form-group">
                            <input type="checkbox" id="show_passwords_jobseeker" class="form-check-input" onclick="togglePasswordVisibility('jobseeker')">
                            <label for="show_passwords_jobseeker" class="form-check-label">Show passwords</label>
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary mb-2">Register as Jobseeker</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script>
    function togglePasswordVisibility(formType) {
        // Select all password fields within the form
        var passwordFields = document.querySelectorAll(`#${formType}Form input[type="password"], #${formType}Form input[type="text"]`);
        var checkbox = document.querySelector(`#show_passwords_${formType}`);
    
        passwordFields.forEach(function(field) {
            // Toggle between 'text' and 'password'
            if (field.type === 'password' && checkbox.checked) {
                field.type = 'text';
            } else if (field.type === 'text' && !checkbox.checked) {
                field.type = 'password';
            }
        });
    }
</script>
{% endblock %}

<style>
    /* Adjust form container width and margins */
    .form-container {
        max-width: 90%; /* or any preferred width */
        margin: 0 auto; /* Center the form horizontally */
    }

    .card {
        margin: 0 auto; /* Center the card horizontally */
    }

    @media (max-width: 768px) {
        .form-container {
            max-width: 100%; /* Full width on smaller screens */
        }
    }
</style>
{% endblock %}
