<!-- templates/core/about_us.html -->
{% extends "cores/base.html" %}

{% block title %}
   About Us
{% endblock %}

{% block content %}
<!-- Display messages -->
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center mb-4">
            <h2 class="display-4 text-primary">About Us</h2>
            <p class="lead">Connecting African youth with opportunities to shape their future.
                Welcome to our website. We are dedicated to providing the latest job, scholarship, and fellowship opportunities for south sudanese youth.
            </p>
        </div>
    </div>
    
    <div class="row align-items-center">
        <div class="col-md-5 mb-4">
            <img src="/media/images/sukulu logo.png" class="img-fluid rounded shadow" alt="About Us">
        </div>
        <div class="col-md-6 offset-md-1">
            <h3 class="text-primary">Our Mission</h3>
            <p class="text-muted">
             Our mission is to empower young south sudanese by connecting them with valuable opportunities that can shape their future.
            </p>
            <h3 class="text-primary">Our Vision</h3>
            <p class="text-muted">
                Our team is passionate about making a positive impact in the community and ensuring that young people have access to the resources they need to succeed.
            </p>
        </div>
    </div>

    <hr class="my-5">

    <div class="row align-items-center">
        <div class="col-md-6">
            <h3 class="text-primary">Our Team</h3>
            <p class="text-muted">
                Meet the dedicated team behind our mission. We are a group of professionals committed to making a difference in the lives of young South sudanese. Our diverse backgrounds and experiences help us create innovative solutions to connect youth with opportunities.
            </p>
        </div>
        <div class="col-md-5 offset-md-1 mb-4">
            <img src="/media/images/sukulu logo.png" class="img-fluid rounded shadow" alt="Our Team">
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
        <div class="col-md-12 text-center mb-4">
            <h2 class="display-4 text-primary">Contact Us</h2>
        </div>
        <div class="col-md-6 offset-md-3">
            <p class="text-center text-muted">
                If you have any questions or would like to get in touch, please feel free to contact us.
            </p>
            <form action="{% url 'about' %}" method="post"> <!-- Adjust action URL if needed -->
                {% csrf_token %}
                {% load crispy_forms_tags %}
                <h1></h1>
                {{ form|crispy }}
                {{ form.media }}
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-primary mb-2">Send</button>
                </div>
            </form>
            
        </div>
    </div>
</div>


{% endblock %}
