{% extends "cores/base.html" %}

{% block title %}
   Home
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <section id="jobs" class="mb-4">
                <h2>Latest Jobs</h2>
                <div class="row">
                    {% for job in jobs_list %}
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="card h-100 border border-info">
                            <img src="{{job.logo.url}}" class="card-img-top rounded mx-auto d-block mt-1" alt="Job Logo" style="width: 95%; height: 150px;">
                            <div class="card-body">
                                <h4 class="card-title text-info"><strong>{{job.company}}</strong></h4>
                                <h5 class="card-title"><strong>{{job.title}}</strong></h5>
                                <p class="card-text"><i class="fas fa-map-marker-alt text-info"></i> <strong>{{ job.location }}</strong></p>
                                <p class="card-text"><i class="fas fa-calendar-alt text-info"></i> Deadline: <strong>{{ job.deadline }}</strong></p>
                                <a href="{% url 'description' job.id %}" class="btn btn-info">more info</a>
                                {% if job.description_file %}
                                <a href="{% url 'downloads' job.id %}"  class=" btn btn-primary ml-3">
                                    <i class="fa-solid fa-download"></i>
                                </a>
                                {% endif %}
                                <hr>
                               
                                <div class="card-footer text-muted">
                                    <small>Created by {{ job.created_by }}</small>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No jobs available.</p>
                    {% endfor %}
                </div>
            </section>

            <section id="scholarships" class="mb-4">
                <h2>Latest Scholarships</h2>
                <div class="row">
                    {% for scholarship in scholarship_list %}
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="card h-100 border border-info">
                            <img src="{{scholarship.image.url}}" class="card-img-top rounded mx-auto d-block mt-1" alt="Scholarship Image" style="width: 95%; height: 150px;">
                            <div class="card-body">
                                <h5 class="card-title text-info"><strong>{{scholarship.title}}</strong></h5>
                                <p class="card-text">Deadline: <strong>{{scholarship.deadline}}</strong></p>
                                <a href="{{scholarship.link}}" class="btn btn-info">Apply</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No scholarships available.</p>
                    {% endfor %}
                </div>
            </section>

            <section id="fellowships" class="mb-4">
                <h2>Latest Fellowships</h2>
                <div class="row">
                    {% for fellowship in fellowship_list %}
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="card h-100 border border-info">
                            <img src="{{fellowship.image.url}}" class="card-img-top rounded mx-auto d-block mt-1" alt="Fellowship Image" style="width: 95%; height: 150px;">
                            <div class="card-body">
                                <h5 class="card-title text-info"><strong>{{fellowship.title}}</strong></h5>
                                <p class="card-text">Deadline: <strong>{{fellowship.deadline}}</strong></p>
                                <a href="{{fellowship.link}}" class="btn btn-info">Apply</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No fellowships available.</p>
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class="col-lg-4">
            <!-- Sidebar for recent jobs -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Recent Jobs</h5>
                    <ul class="list-group list-group-flush">
                        {% for job in jobs_list %}
                        <a class="text-decoration-none" href="{{job.link}}"><li class="list-group-item text-info">{{ job.title }} - {{job.company}}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Sidebar for recent scholarships -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Recent Scholarships</h5>
                    <ul class="list-group list-group-flush">
                        {% for scholarship in scholarship_list %}
                        <a class="text-decoration-none" href="{{scholarship.link}}"><li class="list-group-item text-info">{{ scholarship.title }}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Sidebar for recent fellowships -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Recent Fellowships</h5>
                    <ul class="list-group list-group-flush">
                        {% for fellowship in fellowship_list %}
                        <a class="text-decoration-none" href="{{fellowship.link}}"><li class="list-group-item text-info">{{ fellowship.title }}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
