{% extends "cores/base.html" %}

{% block title %}
   Home
{% endblock %}

{% block content %}
<!-- Top Bar -->

<!-- Hero Section Slider -->
<div class="custom-slider">
    <div class="slider-wrapper">
        <div class="slider-slide active" style="background-image: url('/media/images/job-here.jpg');">
            <div class="slide-caption">
                <h1>Find Your Dream Job With us</h1>
                <p class="attribution">
                    <a class="text-decoration-none text-primary" href="https://www.freepik.com/free-photo/front-view-working-covid-concept_9463610.htm#fromView=search&page=1&position=0&uuid=c35a628a-10b1-42bd-a98e-7a88fa0dcec4">Image by freepik</a>
                </p>
            </div>
        </div>
        <div class="slider-slide" style="background-image: url('/media/images/scholar.jpg');">
            <div class="slide-caption">
                <h2>Unlock All Scholarships For your Studies</h2>
                <p class="attribution">
                    <a class="text-decoration-none text-primary" href="https://www.freepik.com/free-photo/group-five-african-college-students-spending-time-together-campus-university-yard-black-afro-friends-studying-education-theme_26262093.htm#fromView=search&page=1&position=19&uuid=357ffa18-3d67-4990-b62e-98ace0c67d5d">Image by ASphotofamily on Freepik</a>
                </p>
            </div>
        </div>
        <div class="slider-slide" style="background-image: url('/media/images/fellow.jpg');">
            <div class="slide-caption">
                <h2>Join a Fellowship or Trainings</h2>
                <p class="attribution">
                    <a class="text-decoration-none text-primary" href="https://www.freepik.com/free-photo/authentic-small-youthful-marketing-agency_94964035.htm#fromView=search&page=1&position=38&uuid=9daf5c9a-9adf-484a-bdce-4a7de3a2752b">Image by freepik</a>
                </p>
            </div>
        </div>
    </div>
    <div class="slider-controls">
        <span class="prev-slide">&#10094;</span>
        <span class="next-slide">&#10095;</span>
    </div>
    <div class="slider-indicators">
        <span class="indicator active" data-slide="0"></span>
        <span class="indicator" data-slide="1"></span>
        <span class="indicator" data-slide="2"></span>
    </div>
</div>




<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Latest Jobs Section -->
            <section id="jobs" class="section mb-4">
                <h2 class="section-title">Latest Jobs</h2>
                <div class="row">
                    {% for job in jobs_list %}
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="card h-100 border border-primary shadow-sm">
                            <img src="{{ job.logo.url }}" class="card-img-top rounded mx-auto d-block mt-1" alt="Job Logo" style="width: 95%; height: 150px;">
                            <div class="card-body">
                                <h4 class="card-title text-primary"><strong>{{ job.company }}</strong></h4>
                                <h5 class="card-title text-primary"><strong>{{ job.title }}</strong></h5>
                                <p class="card-text"><i class="fas fa-map-marker-alt text-primary"></i> <strong>{{ job.location }}</strong></p>
                                <p class="card-text"><i class="fas fa-calendar-alt text-primary"></i> Deadline: <strong>{{ job.deadline }}</strong></p>
                                {% if job.description %}
                                <a href="{% url 'description' job.id %}" class="btn btn-primary">More Info</a>
                                {% else %}
                                {%endif%}
            
                                {% if job.description_file %}
                                <a href="{% url 'downloads' job.id %}" class="btn btn-danger ml-3">
                                  Download
                                </a>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted">
                               
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No jobs available.</p>
                    {% endfor %}
                </div>
            </section>

            <!-- Latest Scholarships Section -->
            <section id="scholarships" class="section mb-4">
                <h2 class="section-title">Latest Scholarships</h2>
                <div class="row">
                    {% for scholarship in scholarship_list %}
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="card h-100 border border-primary shadow-sm">
                            <img src="{{ scholarship.image.url }}" class="card-img-top rounded mx-auto d-block mt-1" alt="Scholarship Image" style="width: 95%; height: 150px;">
                            <div class="card-body">
                                <h5 class="card-title text-primary"><strong>{{ scholarship.title }}</strong></h5>
                                <p class="card-text">Deadline: <strong>{{ scholarship.deadline }}</strong></p>
                                <a href="{{ scholarship.link }}" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No scholarships available.</p>
                    {% endfor %}
                </div>
            </section>

            <!-- Latest Fellowships Section -->
            <section id="fellowships" class="section mb-4">
                <h2 class="section-title">Latest Fellowships</h2>
                <div class="row">
                    {% for fellowship in fellowship_list %}
                    <div class="col-md-6 col-sm-12 mb-4">
                        <div class="card h-100 border border-primary shadow-sm">
                            <img src="{{ fellowship.image.url }}" class="card-img-top rounded mx-auto d-block mt-1" alt="Fellowship Image" style="width: 95%; height: 150px;">
                            <div class="card-body">
                                <h5 class="card-title text-primary"><strong>{{ fellowship.title }}</strong></h5>
                                <p class="card-text">Deadline: <strong>{{ fellowship.deadline }}</strong></p>
                                <a href="{{ fellowship.link }}" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No fellowships available.</p>
                    {% endfor %}
                </div>
            </section>
            <!-- FAQs Section -->
            <section id="faqs" class="section py-5 mb-4">
                <div class="container">
                    <h2 class="section-title">Frequently Asked Questions</h2>
                    <div class="accordion" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How can I apply for a job?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    To apply for a job, browse the job listings, click on "More Info" for details, and follow the application instructions provided by the job poster.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                   who can post jobs in this platform
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    Any registered user can post job opportunities. We encourage users to ensure the accuracy and legitimacy of their postings.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Is the platform responsible for the job postings?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    No, the platform is not responsible for the content of the job postings. The responsibility lies with the individual users who post the jobs.
                            </div>
                        </div>
                        
                     
                        <!-- Add more FAQs as needed -->
                    </div>
                </div>
            </section>

        </div>

        <!-- Sidebar Area -->
        <div class="col-lg-4">
            <!-- Recent Jobs Sidebar -->
            <section class="sidebar-section bg-light p-4 mb-4">
                <h3 class="sidebar-title">Recent Jobs</h3>
                <ul class="list-unstyled">
                    {% for job in jobs_list %}
                    <a class="text-decoration-none" href="{{job.link}}"><li class="list-group-item text-primary">{{ job.title }}</li></a>
                    {% endfor %}
                </ul>
            </section>

            <!-- Recent Scholarships Sidebar -->
            <section class="sidebar-section bg-light p-4 mb-4">
                <h3 class="sidebar-title">Recent Scholarships</h3>
                <ul class="list-unstyled">
                    {% for scholarship in scholarship_list %}
                    <a class="text-decoration-none" href="{{scholarship.link}}"><li class="list-group-item text-primary">{{ scholarship.title }}</li></a>
                    {% empty %}
                    <li>No recent scholarships available.</li>
                    {% endfor %}
                </ul>
            </section>

            <!-- Recent Fellowships Sidebar -->
            <section class="sidebar-section bg-light p-4 mb-4">
                <h3 class="sidebar-title">Recent Fellowships</h3>
                <ul class="list-unstyled">
                    {% for recent_fellowship in recent_fellowships %}
                    <li><a href="{{ recent_fellowship.link }}">{{ recent_fellowship.title }}</a></li>
                    {% empty %}
                    <li>No recent fellowships available.</li>
                    {% endfor %}
                </ul>
            </section>
             <!-- Sidebar Section -->
       
           
            
        </div>
    </div>
</div>

{% endblock %}
